<div class="container">


<h1><%= @survey.name %></h1>
<ol id="questions">
  <% @survey.questions.each do |question| %>

    <li>Question : <%= question.text %></li>
    <ol>
    <% question.options.each do |option| %>
      <li>Option : <%= option.text %></li>
    <% end %>
    </ol>
  <% end %>
</ol>
<% if current_user %>
  <button><a href="/survey/<%= @survey.id %>/results">Results</a></button>
  <button><a href="/survey/edit/<%= @survey.id %>">Edit</a></button>
  <button>Delete</button>
<% end %>
</div>
