<div class="container">

  <form action="/survey-response/<%= @survey.id %>" method="post">
    <p><%= @survey.name %></p>
    <div class="questions">
      <% @survey.questions.each do |question| %>
      <div class="question">
        <p><%= question.text %></p><br>
        <% question.options.each do |option| %>
        <div class='option'>

           <!-- problems with line below -->
          <input class="option" type="radio" name="question[]<%= question.id %>" value="<%= option.id %>"><%= option.id %> <%= option.text %><br>

        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <input id="submit" type="submit" value="Submit Survey Response">
  </form>
</div>
