	<div class="container">
	<% if @error %>
	<%= @error %>
	<% else %>
	<h1><%=current_user.username%></h1>

	<img src="<%=current_user.img_url%>" alt=" <%=current_user.username%>">
	<ul>
		<li><a href="/user/edit/<%= current_user.id %>">Edit Profile</a> </li>
	</ul>
	<% end %>

	<button><a class="survey" href='/surveys/users/<%= current_user.id %>'>My Surveys</a></button><br>
	<button><a class="survey" href='/surveys/'>Take Survey</a></button><br>
	<button><a class="survey" href='/surveys/new'>Create Survey</a></button><br>


</div>

