	<div class="container">
	<% if @error %>
	<%= @error %>
	<% else %>
	<h1><%=current_user.username%></h1>

	<img src="<%=current_user.img_url%>" alt=" <%=current_user.username%>">
	<ul>
		<li><a href="/user/edit/<%= current_user.id %>">Edit Profile</a> </li>
	</ul>
	<% end %>
</div>

